@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-position: center 15%;
    font-family: 'Space Mono', monospace;
    height: 100vh;
    width: 100vw;
    background-color: var(--light-grayish-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--white);
    display: flex;
    width: 800px;
    height: 400px;
    padding: 2em 1.5em;
    gap: 2em;
    border-radius: 20px;
}

.input-container,
.display-container {
    flex: 1;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
}

.tip-selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tip-selector {
    background-color: var(--very-dark-cyan);
    width: 100px;
    text-align: center;
    margin: 5px;
    padding: 0.5em 0;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.tip-selector:hover,
.reset-btn:hover {
    background-color: var(--light-grayish-cyan);
}

.tip-selector:hover {
    color: var(--very-dark-cyan);
}

.display-container {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}

.calculation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.top-display {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.reset-btn {
    width: 260px;
    align-self: center;
    padding: 0.4em 0;
    font-size: 18px;
    background-color: var(--strong-cyan);
    outline: none;
    border: none;
    color: var(--very-dark-cyan);
    font-family: inherit;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.calculation-title {
    color: var(--white);
}

.calculation-subtitle {
    color: var(--dark-grayish-cyan);
    font-size: 0.75em;
}

.input-title {
    color: var(--dark-grayish-cyan);
}

.calculation-text {
    color: var(--strong-cyan);
    font-size: 2em;
}

.bill-input {
    background: url(/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}

.people-input {
    background: url(/images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}

.input-field {
    font-size: 24px;
    background-color: hsl(186, 14%, 95%);
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding: 0.25em;
    padding-right: 0.5em;
    font-family: inherit;
    font-weight: bold;
    color: var(--very-dark-cyan);
}

.input-field:focus {
    outline: var(--strong-cyan) auto 2px
}

.error {
    outline: red auto 2px
}

.custom {
    background-color: hsl(186, 14%, 95%);
    color: var(--very-dark-cyan);
    outline: none;
    border: none;
    font-family: inherit;
}

.custom:hover {
    cursor: auto;
    background-color: hsl(186, 14%, 95%);
}

.custom:focus {
    outline: var(--strong-cyan) auto 2px;
}

.active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.input-active {
    outline: var(--strong-cyan) auto 2px;
}